<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Capacitación</title>
    <script src="../static/capacitacion.js" defer></script>
</head>
<body>
    <h1>Asignar Cursos de Capacitación</h1>

    <form id="asignarCursoForm">
        <label for="empleados">Seleccionar Empleado:</label>
        <select id="empleados" required>
        </select>

        <label for="curso">Seleccionar Curso:</label>
        <select id="curso" required>
        </select>

        <button type="submit">Asignar Curso</button>
    </form>
    <p id="mensajeAsignacion"></p>

    <h2>Eliminar Capacitación de un Empleado</h2>
    <form id="eliminarCursoForm">
        <label for="empleadoId">ID del Empleado:</label>
        <input type="text" id="empleadoId" required>
        <button type="submit">Eliminar Curso Asignado</button>
    </form>
    <p id="mensajeEliminacion"></p>
</body>
</html>
