<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Producto</title>
</head>
<body>
    <h1>Añadir Producto</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        
        <label for="nombre">Nombre del Producto</label>
        {{ form.nombre(size=32) }}<br>

        <label for="descripcion">Descripción</label>
        {{ form.descripcion(size=32) }}<br>

        <label for="codigo">Código del Producto</label>
        {{ form.codigo(size=20) }}<br>

        <label for="cantidad">Cantidad</label>
        {{ form.cantidad(size=20) }}<br>

        <label for="precio">Precio</label>
        {{ form.precio(size=20) }}<br>

        <button type="submit">Añadir Producto</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</body>
</html>